.card {
  display: flex;
  background-color: #26235c;
  width: 40%;
  height: 70%;
  border: 1px solid #26235c;
  border-radius: 50px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .photo {
    img {
      border-radius: 50%;
      width: 150px;
      height: 150px;
      object-fit: cover;
    }
  }

  .text-area {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    p {
      width: 75%;
    }
  }

  .mail {
    background-color: #9082eca6;
    font-size: 1.5rem;
    padding: 0.5rem;
    border: 1px solid transparent;
    border-radius: 10px;
  }

  .social-links {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;

    .link {
      width: 50px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 10px;

      svg {
        width: 30px;
        height: 30px;
        color: #a79ae0;
      }
    }
  }
}
